#--------
# Editing
#--------
*~
*.bak
*.bkp
*.log
*\#*\#
*\#*


#--------
# Sim
#--------
*.fst


#--------
# Vivado project directories and files
#--------
*.jou
*.log
.Xil
*.cache
*.data
!cgator_cfg_rom.data
*.ipdefs
*.ip_user_files
*.runs
*.gen
*.obj
*.dll
*.lib
*.exe
*.str
*.dcp
*.lpr

2.rtl/**/*.xml


#--------
#PCB
#--------
1.pcb/openpci2-backplane/openpci2-backplane-backups
1.pcb/openpci2-backplane/fp-info-cache
1.pcb/openpci2-backplane/\#auto_saved_files\#
1.pcb/openpci2-backplane/~openpci2-backplane.kicad_sch.lck
1.pcb/openpci2-backplane/~openpci2-backplane.kicad_pcb.lck
1.pcb/openpci2-backplane/_autosave-openpci2-backplane.kicad_pcb

#--------
# Firmware build products (4.build/sw_build)
#--------
# Records the VARIANT/CSR/SIM the last build used, so make can tell that the
# configuration changed. Purely local state.
4.build/sw_build/.build-config
4.build/hw_build.openXC7/.build-config
4.build/hw_build.openXC7/.build-config.switched


#--------
# Sim build products (5.sim)
#--------
5.sim/obj/
5.sim/xsim.dir/
5.sim/work/
5.sim/VProc.so
5.sim/libuser.a
5.sim/firmware.hex
5.sim/run_us.cfg
5.sim/*.wdb
5.sim/*.pb
5.sim/xelab.*
5.sim/xvlog.*
5.sim/xsim.*
5.sim/webtalk*

#--------
# Misc
#--------
*/Thumbs.db
*xOLD*
*output*


#--------
# End-of-File
#--------

